@font-face {
    font-family: 'Arvo-regular';
    src: url('./Arvo/Arvo-Regular.ttf');
}

@font-face {
    font-family: 'Arvo-bold';
    src: url('./Arvo//Arvo-Bold.ttf');
}


// carino fonts
@font-face {
    font-family: 'Carino-regular';
    src: url('./carino/CarinoSansRegular.ttf');
}

@font-face {
    font-family: 'Carino-bold';
    src: url('./Arvo/Arvo-Bold.ttf');
}

// roboto fonts

@font-face {
    font-family: 'Roboto-regular';
    src: url('./Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('./Roboto/Roboto-Bold.ttf');
}